name: Run openvino2onnx unit tests
run-name: ${{ github.actor }} unit tests
on:
  pull_request:
    paths:
      - 'openvino2onnx/**.py'
      - 'tests/**.py'
      - '.github/workflows/*.yml'
jobs:
  run-unit-tests:
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install pytorch and tensorflow
        run: |
          python -m pip install -U tensorflow-cpu
          python -m pip install -U torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
      - name: Install dependencies
        run: python -m pip install -e .[test]
      - name: Run pytest and coverage
        run: python -m pytest --cov=openvino2onnx tests/test.py
